@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&family=Montserrat:wght@300;400&family=Oleo+Script+Swash+Caps&family=Shadows+Into+Light&display=swap');

h1,h2,h3{
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(249, 61, 61);
}
h4,h5,h6{
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(244, 138, 0);
}
p {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 255);

}

ul {
    list-style-type: none;
}

li {
    font-size: 15px;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(0, 139, 182);
}